@import url('https://fonts.googleapis.com/css2?family=Poppins');


ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: whitesmoke;

}
body , html{
	overflow-x: hidden;
}


.navbar{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	color: whitesmoke;
}
.nav-links{
	display: flex;
	align-items: center;
}
.nav-links li{
	margin: 0 30px;
	
}

.title{
	background: #1E1E1E;
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 4vmin;
	color: whitesmoke;
}
.line{
	width: 150px;
	height: 4px;
	background: #fc036b;
	margin: 10px auto;
	border-radius: 5px;
}

.abt{
	background: #1E1E1E;
	color: whitesmoke;
}
.ctn{
	padding: 8px 15px;
	background: #fc036b;
	border-radius: 30px;
	color: whitesmoke;
}


