@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: whitesmoke;

}
body , html{
	overflow-x: hidden;
}


.navbar{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	color: whitesmoke;
}
.nav-links{
	display: flex;
	align-items: center;
}
.nav-links li{
	margin: 0 30px;
	
}



header{
	width: 100vw;
	height: 100vh;
	background-image: url('headerbg.jpg');
	background-position: bottom;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.header-content{
	margin-bottom: 150px;
	color: whitesmoke;
	text-align: center;
}
.heaader-content h2{
	font-size: 4vmin;
}
.line{
	width: 150px;
	height: 4px;
	background: #fc036b;
	margin: 10px auto;
	border-radius: 5px;
}
.header-content h1{
	font-size: 7vmin;
	margin-top: 50px;
	margin-bottom: 30px;
}
.ctn{
	padding: 8px 15px;
	background: #fc036b;
	border-radius: 30px;
	color: whitesmoke;
}
.menu-btn{
	position: absolute;
	top: 30px;
	right: 30px;
	width: 40px;
	cursor: pointer;
	display: none;
}
section{
	background: #1E1E1E;
}
.title{
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 4vmin;
	color: whitesmoke;
}
.abt{
	text-align: center;
	font-size: 4vmin;
	color: whitesmoke;
	line-height: 45px;
}
.reg{
	margin: 70px auto;
	width: 80%;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('conbg.png');
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
}
.reg h1 {
	margin-top: -10px;
	margin-bottom: 60px;
    font-size: 36px;
    color: whitesmoke;
    font-weight: 600;
}
.reg a{
	padding: 15px 80px;
	text-align: center;
	margin: 20px 10px;
	border-radius: 50px;
	font-size: 15px;
	font-weight: 100;
	border: 2px solid #fc036b;
	background: transparent;
	color: #fff;
	position: relative;
	overflow: hidden;
	transition-duration: 200ms;
	-webkit-transition-duration: 200ms;
}
.reg a:hover {
	background-color: #fc036b;
	color: #fff;
}
footer{
	width: 100%;
	background: #111;
	height: auto;
	font-family: "Open Sans";
	padding-top: 40px;
	color: #fff;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content h1{
	
	color: whitesmoke;
	font-size: 40px;
	line-height: 3rem;
}
.footer-content p{
	color: whitesmoke;
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 15px;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}
.socials li{
	margin: 0 10px;
}
.socials a i{
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	transition: color .4s ease;
}
.socials a:hover i{
	color: #fc036b;
}
.footer-bottom{
	background: #000;
	padding: 20px 0;
	text-align: center;
}
.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
	color: whitesmoke;
}

.xop-section{
	max-width: 960px;
	margin: 0 auto;
	padding: 6% 2%;
}

.xop-section-grid{
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.xop-section-grid:after{
	clear: both;
}

.xop-section-grid:after, .xop-box:before{
	content: "";
	display: table;
}

.xop-section-grid li{
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}
.xop-box{
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	border-radius: 10px;
	-webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
	transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.xop-box:hover{
	transform: scale(1.05);
}
.xop-img-1{
	background: url('python-3.jpg');
}
.xop-img-2{
	background: url('bug.jpeg');
}
.xop-img-3{
	background: url('web.png');
}
.xop-img-4{
	background: url('java.jpg');
}

.xop-info{
	position: absolute;
	width: inherit;
	height: inherit;
}
.xop-info p{
	position: absolute;
	bottom: 10px;
	width: 50%;
	
}



@media only screen and (max-width:850px){
	.menu-btn{
		display: block;
	}
	.navbar{
		padding: 0;
	}
	.logo{
		position: absolute;
		top: 30px;
		left: 30px;
	}
	.nav-links{
		flex-direction: column;
		width: 100%;
		height: 100vh;
		justify-content: center;
		background: #484872;
		margin-top:-900px;
		transition: all 0.5s ease;
	}
	.mobile-menu{
		margin-top: 0px;
		border-bottom-right-radius: 30%;
	}
	
	
	.nav-links li{
		margin: 30px auto;
	}
}














